@import "mixins";

//style for default tags
@font-face {
    font-family: SFUFuturaRegular;
    src: url(../css/fonts/SFUFuturaRegular.ttf);
}
@font-face {
    font-family: SFUFuturaBold;
    src: url(../css/fonts/SFUFuturaBold.ttf);
}
* {
    font-family: 'SFUFuturaRegular', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title {
    font-family: 'SFUFuturaRegular';
    font-weight: 700;
}

html, body {
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 20px;
}

hr {
    width: 100%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid $grey-lighter;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row > .col,
.row > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}

.container {
    padding: 0;
    width: 94%;
    max-width: 960px;
    margin: 0 auto;
}

*[role=button], button {
    &:focus {
        outline: 0;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

[hidden] {
    visibility: hidden;
}

.wrapper {
    width: 100%;
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    >*:not([hidden]) {
        animation: slideUp 0.3s ease-in-out;
    }
}

.btn-main {
    @include flex-center;
    color: white;
    background: $accent;
    border: 2px solid $accent-light;
    box-shadow: 0 0 20px rgba($accent, 0.65);
    padding: 8px 16px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    img {
      margin-right: auto;
      height: 24px;
    }
    span {
        flex: 1 1 auto;
        padding: 0 8px;
    }
    &:hover {
        box-shadow: 0 0 40px 2px rgba($accent, 0.8);
        transform: translateY(-2px);
    }
    min-width: 140px;
}


.description {
    position: relative;
    margin-top: 40px;
    background: $primary;
    padding: 28px;
    text-align: justify;
    border-radius: 28px;
    border: 3px solid $accent-light;
    color: $grey-lighter; 
    width: 100%;
    max-width: 650px;
    box-shadow: 0 0 40px rgba($accent, 0.65);
    min-width: 450px;
    /*min-height: calc(100vh - 350px);*/
    .text-left {
        text-align: left;
    }
    @include on-mobile {
        min-width: 100%;
    }
    .accent {
        color: $accent;
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
    }
    b {
      color: $grey-white;
    }
    .text-uppercase {
      text-transform: uppercase;
    }
    @include on-tablet {
        max-width: 550px;
    }
    @include on-mobile {
        width: 100%;
        padding: 28px 16px;
        margin-top: 20px;
    }
    .header {
        @include flex-align-center;
        position: absolute;
        left: 12px;
        top: -24px;
        img {
            width: 80px;
            position: absolute;
            left: 0;
        }
        .header-text {
            text-align: left;
            padding: 8px 24px 8px 84px;
            border-radius: 50px;
            text-transform: uppercase;
            border: 2px solid $accent-light;
            background: $accent;
            @include font(14px, $grey-lightest, $bold);
            box-shadow: 0 0 20px rgba($accent, 0.65);
        }
    }
    .close {
        position: absolute;
        top: 12px;
        right: 24px;
        font-size: 24px;
        font-weight: $bold;
        color: $grey-lighter;
        transform: scale(1.1, 0.9);
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: $grey-lightest;
        }
    }
  }

  .description-text {
    color: $primary;
    width: 94%;
    max-width: 600px;
    text-align: justify;
    line-height: 24px;
  }
  .toast-success {
      background-color: $primary !important;
  }