@import "variables";

//color classes

.is-primary {
    color: $primary !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $dark !important;
    }
}

.has-bg-primary {
    background-color: $primary !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $dark !important;
    }
}

.is-light {
    color: $light !important;
}

.has-bg-light {
    background-color: $light !important;
}

.is-dark {
    color: $dark !important;
}

.has-bg-dark {
    background-color: $dark !important;
}

.is-accent {
    color: $accent !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $accent-dark !important;
    }
}

.has-bg-accent {
    background-color: $accent !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $accent-dark !important;
    }
}

.is-accent-light {
    color: $accent-light !important;
}

.has-bg-accent-light {
    background-color: $accent-light !important;
}

.is-accent-dark {
    color: $accent-dark !important;
}

.has-bg-accent-dark {
    background-color: $accent-dark !important;
}

.is-link {
    color: $link !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $link-dark !important;
    }
}

.has-bg-link {
    background-color: $link !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $link-dark !important;
    }
}

.is-link-dark {
    color: $link-dark !important;
}

.has-bg-link-dark {
    background-color: $link-dark !important;
}

.is-info {
    color: $info !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $info-dark !important;
    }
}

.has-bg-info {
    background-color: $info !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $info-dark !important;
    }
}

.is-info-dark {
    color: $info-dark !important;
}

.has-bg-info-dark {
    background-color: $info-dark !important;
}

.is-success {
    color: $success !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $success-dark !important;
    }
}

.has-bg-success {
    background-color: $success !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $success-dark !important;
    }
}

.is-success-dark {
    color: $success-dark !important;
}

.has-bg-success-dark {
    background-color: $success-dark !important;
}

.is-warning {
    color: $warning !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $warning-dark !important;
    }
}

.has-bg-warning {
    background-color: $warning !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $warning-dark !important;
    }
}

.is-warning-dark {
    color: $warning-dark !important;
}

.has-bg-warning-dark {
    background-color: $warning-dark !important;
}

.is-danger {
    color: $danger !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $danger-dark !important;
    }
}

.has-bg-danger {
    background-color: $danger !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $danger-dark !important;
    }
}

.is-danger-dark {
    color: $danger-dark !important;
}

.has-bg-danger-dark {
    background-color: $danger-dark !important;
}

.is-question {
    color: $important !important;
    &.hover-dark:hover, &.hover-dark:active {
        color: $important-dark !important;
    }
}

.has-bg-question {
    background-color: $important !important;
    &.hover-dark:hover, &.hover-dark:active {
        background-color: $important-dark !important;
    }
}

.is-question-dark {
    color: $important-dark !important;
}

.has-bg-question-dark {
    background-color: $important-dark !important;
}

.is-grey-white {
    color: $grey-white !important;
}

.has-bg-grey-white {
    background-color: $grey-white !important;
}

.is-grey-lightest {
    color: $grey-lightest !important;
}

.has-bg-grey-lightest {
    background-color: $grey-lightest !important;
}

.is-grey-lighter {
    color: $grey-lighter !important;
}

.has-bg-grey-lighter {
    background-color: $grey-lighter !important;
}

.is-grey-light {
    color: $grey-light !important;
}

.has-bg-grey-light {
    background-color: $grey-light !important;
}

.is-grey-mild {
    color: $grey-mild !important;
}

.has-bg-grey-mild {
    background-color: $grey-mild !important;
}

.is-grey {
    color: $grey !important;
}

.has-bg-grey {
    background-color: $grey !important;
}

.is-grey-dark {
    color: $grey-dark !important;
}

.has-bg-grey-dark {
    background-color: $grey-dark !important;
}

.is-grey-darker {
    color: $grey-darker !important;
}

.has-bg-grey-darker {
    background-color: $grey-darker !important;
}

.is-grey-darkest {
    color: $grey-darkest !important;
}

.has-bg-grey-darkest {
    background-color: $grey-darkest !important;
}

.is-grey-black {
    color: $grey-black !important;
}

.has-bg-grey-black {
    background-color: $grey-black !important;
}